#navbar {
  display: flex;
  align-items: center; /* Center items vertically */
  color: white;
  background-color: #03648A;
  justify-content: space-between;
  padding-right: 5px;
}

#navbutton {
  background-color: #106C90;
  border-radius: 10px;
  color: white;
  padding: 5px;

  /* transform: translate(-50%, -50%);  */
  border: 2px solid #3C86A6; /* Specify border style and color */
  padding-right: 100px;
  padding-left: 100px;
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

#arrows {
  height: 20px;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

#navicons {
  height: 20px;
  width: auto;
  /* margin-right: 5px; */
  /* position: fixed; */
}

#navigation {
  display: flex;
  align-items: center; /* Center items vertically */
  padding-right: 5px;
}

.navmenu {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  text-align: center;
}

body {
  background-color: #02233D;
}

#sidebar {
  border-right: 2px solid #0A4566;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  padding: 5px;
}

.sideicon {
  padding: 5px;
  height: 50px;
  width: 50px;
}

#set-icon {
  margin-top: 125px;
}

#explorer h4 {
  color: white;
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

#explorer {
  border-right: 2px solid #0A4566;
  margin-left: 20px; /* Adjust this value as needed */
  padding: 10px;
}

#container {
  display: flex;
  float: auto;
}

#container2 {
  display: flex;
  float: left;
}

#codebox {
  color: #219FB8;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 20px; font-style: normal;
}

.container-top {
  display: flex;
}

#aboutmebutton {
  color: white;
  background-color: #0B2942;
  padding: 5px 5px; /* Adjust padding as needed */
  text-align: center;
  margin-top: 5px; /* Add space above the button */
}

#aboutmegem, #aboutmecross {
  vertical-align: middle; /* Align images vertically */
  margin-right: 5px; /* Add space between images */
  margin-left: 5px;
}

.variable {
  color: #D6B781;
}

.equals {
  color: #DF769B;
}

.string {
  color: #49E9A6;
}

.integer {
  color: #7060EB;
}

.boldpink {
  color: #DF769B;
  font-weight: bold;
}

.classes {
  color: #49ACE9;
}

.piearrow {
  color: #C5C2D6;
  font-style: italic;
}

.inherit {
  color: #49D6E9;
  font-style: italic;
}

.brackets {
  color: #FFD700;
}


.attag {
  color: #EDC9AB;
}

#prof-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: 200px;
  margin-top: 50px;
}

#set-dots {
  float: right
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container-top {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container-top {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container-top {
    width: 300px;
  }
}

.right-mover {
  margin-left: 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  #navbar {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  #navbar {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #navbar {
    width: 300px;
  }
}

.down-arrow {
  padding: 5px;
}
